<div class="side-bar-header">
  <div class="header-name">
    <a href="#">아야정훈</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
 <div class="room">
    <div class="room-name">
      <a href="#">아야카메리크리스마스❤️</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">아야카의 산타속옷❤️</a>
    </div>
  </div>
</div>